.footerSection {
  background: #f7f5ff;

  padding: 160px 100px 100px 100px;
}
.footer {
  display: inline-flex;
  /* padding: 200px 100px 60px 100px; */
  flex-direction: column;
  align-items: flex-start;
  gap: 150px;
}

.footerHeader {
  padding: 10px 0;
  color: #1d1842;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.footerTopTierSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.donationSection {
  display: flex;
  width: 560px;
  padding: 20px;

  gap: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;

  border-radius: 16px;
  background: #efecfd;
}

.donationTextSection {
  gap: 1100px;
}

.donationSectionTitle {
  color: #1d1842;

  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

.donationDetailsSection {
  color: #5c5b68;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

/* ///////FOOTER BOTTOMT TIER SECTION///////////// */
.footerBottomTierSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.footerBottomTierSection h2 {
  color: #1d1842;

  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  word-spacing: 10px;
}

.footerBottomTierSection ul li {
  list-style: none;
  text-decoration: none;
  gap: 40px;

  padding: 7px 0;
}

.footerBottomTierSection ul li a {
  color: #5c5b68;

  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: capitalize;
}

.address {
  color: #5c5b68;
  padding: 7px 0;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.SignUpDetailSubSection {
  gap: 40px;
  padding-bottom: 20px;
}

.SignUpDetailSubSection p {
  color: #5c5b68;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.SignUpDetailHeaderSection {
  padding-bottom: 15px;
}

.SignUpDetailHeaderSection h4 {
  color: #1d1842;

  font-family: Montserrat;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.SignUpDetailEmailSection {
  display: flex;
  gap: 30px;
}

.SignUpDetailEmailSection input {
  padding: 22px;
  align-items: center;

  border-radius: 12px;
  border: 1px solid #c8c8c8;

  background: #f7f5ff;
}
