.footerSection {
  background: #f7f5ff;
  padding: 100px 0px;
}

.footer {
  display: grid;
  gap: 150px;
}

.footerHeader {
  color: #1d1842;
  font-size: calc(1rem + 4px);
  margin-bottom: 1rem;
}

.footerTopTierSection {
  display: grid;
  gap: 1rem;
  
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.donationSection {
  display: flex;
  padding: 20px;
  gap: 24px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  background: #efecfd;
}

.donationSectionTitle {
  color: #1d1842;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 1rem;
}

.donationDetailsSection {
  color: #5c5b68;
  font-size: 1rem;
}

/* ///////FOOTER BOTTOMT TIER SECTION///////////// */
.footerBottomTierSection {
  display: grid;
  gap: calc(1rem + 8px);
  
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footerBottomTierSection h2 {
  color: #1d1842;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  word-spacing: 10px;
}

.footerBottomTierSection ul li {
  list-style: none;
  text-decoration: none;
  gap: 40px;
  padding: 7px 0;
}

.footerBottomTierSection ul li a {
  color: #5c5b68;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: capitalize;
}

.address {
  color: #5c5b68;
  padding: 7px 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.SignUpDetailSubSection {
  gap: 40px;
  padding-bottom: 20px;
}

.SignUpDetailSubSection p {
  color: #5c5b68;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.SignUpDetailHeaderSection {
  padding-bottom: 15px;
}

.SignUpDetailHeaderSection h4 {
  color: #1d1842;
  font-size: calc(1rem + 8px);
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.SignUpDetailEmailSection {
  display: flex;
  gap: 30px;
}

.SignUpDetailEmailSection input {
  padding: 22px;
  align-items: center;

  border-radius: 12px;
  border: 1px solid #c8c8c8;

  background: #f7f5ff;
}
