.aboutSectionHeader {
  background: linear-gradient(
      rgba(29, 24, 66, 0.3) 0%,
      rgba(29, 24, 66, 0.3) 100%
    ),
    url("../../../../public/images/AboutPageHeaderBackground.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1920px;
  height: 976px;
  flex-shrink: 0;
}

.aboutSectionContainer {
  display: inline-flex;
  padding: 200px 100px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.aboutSectionHeaderTitle {
  color: #fff;
  font-family: Montserrat;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.aboutSectionHeaderText {
  width: 1140px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.aboutSectionHeaderText p {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.valueSection {
  background-color: #f7f5ff;
  display: inline-flex;
  padding: 200px 100px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.valueTitleSection {
  color: #1d1842;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.valueDetailsSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.valueDetailsSection {
  align-items: flex-start;
  gap: 20px;
}

.valueDetailSection {
  display: inline-block;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #efecfd;
}

.valueDetailHeaderSection {
  color: #1d1842;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

.valueDetailTextSection {
  color: #5c5b68;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.missionSection {
  background-color: #fff;
  display: inline-flex;
  padding: 200px 100px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 1920px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.missionHeaderSection {
  color: #1d1842;
  font-family: Montserrat;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.missionDetailsSection {
  color: #1d1842;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

/* /////ABOUT OUR CEO///// */

.aboutCeoSection {
  display: flex;
  width: 1920px;
  padding: 100px;
  align-items: center;
  gap: 40px;
  background: #f7f5ff;
}

.aboutCeoHeaderSection {
  color: #1d1842;

  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}

.aboutCeoDetailSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}

.aboutCeoDetailSection {
  color: #1d1842;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
